/* responsive */
@media (max-width: 1068px) {
  .main-container {
    grid-template-columns: 1fr 84%;
  }
}
@media (max-width: 960px) {
  .main-container {
    grid-template-columns: 1fr 80%;
  }
}
@media (max-width: 818px) {
  .main-container {
    grid-template-columns: 1fr 80%;
  }
}
@media (max-width: 506px) {
  header h1 {
    font-size: 5.5vw;
  }
  .main-container {
    grid-template-columns: 100%;
  }
  .main-container nav.container-menu {
    height: 149px;
  }
  .main-container nav.container-menu ul li {
    margin: 0 auto;
    margin-top: 5px;
  }
}
