* {
  margin: 0;
  padding: 0;
}
header {
  width: 100%;
  height: 76px;
  line-height: 70px;
  background-color: rgb(218, 197, 16);
  display: grid;
  grid-template-columns: 17fr 1fr;
}
h1 {
  color: black;
  text-align: center;
}
div.user-control {
  width: 80px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  z-index: 2;
}
div.user-control:hover > ul {
  opacity: 1;
}
div.user-control img {
  width: 80px;
  cursor: pointer;
}

div.user-control ul {
  width: 110px;
  opacity: 0;
  transition: 300ms;
  position: relative;
  left: -30px;

  list-style: none;
}
div.user-control ul li.logout {
  background-color: rgb(113 102 3);
  height: 48px;
  line-height: 48px;
  text-align: center;
  border-radius: 3px;
  cursor: pointer;
}
div.user-control ul li.logout a {
  color: white;
  text-decoration: none;
}
.main-container {
  display: grid;
  grid-template-columns: 1fr 5fr;
}
.main-container nav.container-menu {
  min-height: 100%;
  height: 100vh;
  background-color: rgb(54, 52, 52);
}
.main-container nav.container-menu ul li {
  width: 95%;
  background-color: #0b0a35;

  height: 29px;
  line-height: 25px;
  margin-top: 5px;
  border-radius: 5px;
  padding: 5px;
}
.main-container nav.container-menu ul li:hover {
  background-color: #17157c;
}
.main-container nav.container-menu ul li a {
  display: block;
  color: rgb(223, 209, 209);
  text-decoration: none;
  cursor: pointer;
}
.main-container div.container-tables {
  flex-basis: 84%;
  background-color: rgb(17, 15, 15);
  color: rgb(223, 209, 209);
}
.subcontainer-tables {
  width: 96%;
  margin: 0 auto;
}
