{% extends 'layouts/layout.html' %}
{% load static %}

{% block main_content %}
    <link rel="stylesheet" href="{% static 'css/styles_user.css'%}">

    <div class="form-container">
        <form action="{% url 'log_in' %}" method="POST">

            {% csrf_token %}

            <div>
                <label for="email"></label>
                <input type="email" name="email" placeholder="Correo electrónico">
            </div>
            
            <div>
                <label for="password"></label>
                <input type="password" name="password" placeholder="Contraseña">
            </div>

            <input type="submit" value="Iniciar sesión">
        </form>

        <div class="button">
            <button><a href="{% url 'register' %}">Crear cuenta nueva</a></button>
        </div>
    </div>
    
    
{% endblock %}


