/* ================================================== menu of table */
/* general styles */

ul.menu-table {
  display: flex;
  justify-content: space-between;
}
ul.menu-table li {
  width: 150px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: blue;
  border-radius: 5px;
  list-style: none;
}
ul.menu-table li a {
  color: white;
  text-decoration: none;
}
/* ========================================== content of table */
.table-container {
  width: 99%;
  min-height: 80px;
  border: 2px solid brown;
}
/* field description of table */
.table-container ul {
  display: flex;
  height: 30px;
  line-height: 30px;
  display: flex;
  justify-content: space-evenly;
}
.table-container ul.description {
  width: 55%;
}

.table-container ul li {
  list-style: none;
}

/* styles forms */
form.form-of-words {
  display: flex;
  justify-content: flex-start;
}
form.form-of-words p {
  margin-left: 15px;
  margin-right: 15px;
}
form.form-of-words p:first-child {
  margin-left: 30px;
}

/* textarea ckeditor */

form.form-of-words p input[type="text"] {
  width: 150px;
}
.button {
  width: 100px;
  height: 30px;
  line-height: 30px;
}
.button input[type="submit"] {
  width: 100%;
  height: 100%;
  background-color: green;
  color: white;
}

/* ============================================ word list */
ul.word_list {
  border: 2px solid blue;
}
ul.word_list li {
  width: 80px;
  border: 2px solid purple;
  text-align: center;
}
ul.word_list li:last-child {
  width: 630px;
  text-align: left;
  border: 2px solid red;
}
