/* ================================================== form title */
.title-table {
  height: 60px;
  line-height: 60px;
  margin-bottom: 20px;
}
h2.action-table {
  color: #14c714;
  text-align: center;
  margin-top: 10px;
}
.form-table {
  width: 700px;
}
.form-table p {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.form-table p label {
  text-align: right;
}
.form-table p input {
  width: 300px;
  height: 27px;
}
.form-table input[type="submit"] {
  width: 303px;
  height: 35px;
  background-color: green;
  color: white;
  float: right;
  font-size: 16px;
  cursor: pointer;
}
.form-table input[type="submit"]:hover {
  background-color: rgb(20, 160, 20);
}
/* ================================================== menu of table */

ul.menu-vocabulary {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  margin-bottom: 10px;
}
ul.menu-vocabulary li {
  min-width: 100%;
  height: 40px;
  line-height: 40px;
  background-color: rgb(226, 9, 9);
  border-radius: 5px;
  list-style: none;
  text-align: center;
}
ul.menu-vocabulary li:hover {
  background-color: rgb(207, 52, 52);
}
ul.menu-vocabulary li:active {
  background-color: #17157c;
}
ul.menu-vocabulary li a {
  display: block;
  color: white;
  text-decoration: none;
}
/* ================================================== create vocabulary */
.table-container {
  padding: 10px;
}
.table-container ul li {
  list-style: none;
}
.table-container {
  width: 99%;
  min-height: 80px;
  background-color: #1a1818;
}
/* field description of table */
.table-container ul {
  display: grid;
  height: 30px;
  line-height: 30px;
  grid-template-columns: 1fr 1fr 4fr;
  grid-gap: 10px;
}
.table-container ul.description {
  width: 100%;
}
form.form-of-words {
  display: grid;
  grid-template-columns: 1fr 1fr 0fr 3fr 0fr 1fr;
  grid-gap: 10px;
}

/* textarea ckeditor */
div#cke_id_inverosimil_relation {
  width: auto;
}
form.form-of-words p input[type="text"] {
  width: 100%;
  height: 24px;
}
.button {
  width: 100px;
  height: 30px;
  line-height: 30px;
}
.button input[type="submit"] {
  width: 100%;
  height: 100%;
  background-color: green;
  color: white;
  cursor: pointer;
}
.button input[type="submit"]:hover {
  background-color: rgb(20, 160, 20);
}
/* ================================================== word list */
.form-search {
  display: grid;
  grid-template-columns: 8fr 1fr 1fr;
}
.form-search input.search-field {
  padding: 7px;
}
.form-search button.search-button {
  padding: 7px;
  background-color: green;
  color: white;
  cursor: pointer;
}

ul.word_list {
  display: grid;
  grid-template-columns: 1fr 1fr 4fr;
}
ul.word_list li {
  text-align: left;
}
ul.word_list li strong {
  color: #6666e4;
  font-size: 18px;
}

/* ================================================== table collection */

ul.table-collection li {
  height: 30px;
  line-height: 30px;
  text-align: center;
  background-color: rgb(226, 9, 9);
  border-radius: 5px;
  list-style: none;
  margin-bottom: 5px;
}

ul.table-collection li a {
  color: white;
  text-decoration: none;
}

/* ========================================== table collection other users */
ul.other-tables-description {
  display: flex;
  justify-content: space-around;
  background-color: #141447;
  color: white;
}
ul.other-tables-description li {
  list-style: none;
}

ul.list-other-tables li {
  height: 30px;
  line-height: 30px;
  margin-top: 5px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-around;
  background-color: #034e21;
  border-radius: 5px;
  color: white;
}
ul.list-other-tables li:hover {
  background-color: #04682c;
}
ul.list-other-tables li div {
  text-align: center;
}
ul.list-other-tables li div a {
  color: white;
  text-decoration: none;
  display: block;
  cursor: pinter;
}
/* pagination */
.pagination {
  text-align: center;
  margin-top: 18px;
}
.pagination a {
  color: rgb(7, 185, 185);
  margin-right: 15px;
}
/* ========================================== table collection other users */
.assets p a {
  color: rgb(7, 185, 185);
}
/* responsive */

@media (max-width: 979px) {
  ul.menu-vocabulary {
    grid-template-columns: repeat(2, 1fr);
  }
  .table-container ul li {
    height: auto;
  }
}
@media (max-width: 972px) {
  .table-container ul.description {
    margin-bottom: 30px;
  }
}
@media (max-width: 962px) {
  .form-table {
    margin: 0 auto;
    display: grid;
  }
  .form-table p {
    width: 70%;
    justify-content: normal;
    display: grid;
    margin: 0 auto;
  }
  .form-table p label {
    width: 100%;
    text-align: left;
  }
  .form-table p input {
    width: 100%;
  }
  .form-table {
    width: 90%;
  }
  .form-table input[type="submit"] {
    width: 71%;
    float: none;
    margin: 0 auto;
  }
}
@media (max-width: 616px) {
  ul.list-other-tables li {
    height: auto;
  }
}
@media (max-width: 561px) {
  ul.menu-vocabulary {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 506px) {
  .main-container div.container-tables {
    padding-bottom: 18px;
  }
}
