{% extends 'table/main menu.html' %}

{% block content_table %}

    <div class="assets">
        {% if asset == 'pdf_doc' %}
            {% if pdfpath != 'null' %}
                <P>ENLACE: <a href="{% url 'download' pdfpath=pdfpath %}"> {{pdf_doc_name}}</a></P>
            {% else %}
                <p>Esta tabla no tiene un documento PDF</p>
            {% endif %}


        {% else %}
            {% if link != 'null' %}
                <P>ENLACE: <a href="{{link}}">sitio web</a></P>
            {% else %}
                <p>Esta tabla no tiene vínculo a un sitio web</p>
            {% endif %}
            
        {% endif %}
    </div>

{% endblock %}