{% extends 'layouts/layout.html' %}
{% load static %}
{% block main_content %}
    
    <!-- <form action="{ url 'table' }{{box}}/{{user_id}}" method="POST"> : other way to pass params -->
    <p>{{user.email}}</p>
    <form action="" method="POST">

        <!-- when csrf_token is used, a token is sended by the url -->
        {% csrf_token %}
        
        <label for="title">Título de la tabla</label>
        <input type="text" name="title">

        <label for="">Link</label>
        <input type="text">

        <label for="pdf_doc">Añadir documento(opcional)</label>
        <input type="file" name="pdf_doc">

        <input type="submit" value="Enviar">
    </form>    
    
{% endblock %}