{% extends 'table/main menu.html' %}

{% block content_table %}
    <div class="table-container">

        <!-- a token will be added to protect the url -->
        
        <form action="GET" class="form-search">
            {% csrf_token %}
            <input type="text" name="kword" placeholder="Buscar palabra en inglés de esta tabla" class="search-field">

            <button type="submit" class="search-button">Buscar</button>
        </form>


        {% include 'includes/description_table.html' %}
        
        <!-- after to use ListView, to iterate the elements use object_list -->
        <!-- {{object_list}} -->

        {% if word_collection|length > 0 %}
            {% for word in word_collection %}
                <ul class="word_list">
                    <li>{{word.english_word}}</li>
                    <li>{{word.spanish_word}}</li>
                    <li>{{word.inverosimil_relation|safe}}</li>
                </ul>
            {% endfor %}

        {% else %}
            <p>No hay palabras disponibles</p>
        {% endif %}

    </div>

{% endblock %}